body {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 16px;
  line-height: 24px;
  background-color: #4EA0F6 !important;
  color: #fff;
  overflow: hidden; }
  @media only screen and (max-width: 500px) {
    body {
      overflow: visible; } }
  body .handle {
    background-color: #4FFAE6;
    font-weight: bold;
    height: 28px;
    padding-right: 8px;
    user-select: none;
    overflow: hidden; }
    body .handle .left-corner {
      padding: 0; }
    body .handle .icon-file {
      height: 28px;
      max-width: 100%; }
    body .handle .caption {
      color: #fff;
      padding-top: 5px;
      background-color: black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  body .navbar {
    background-color: #000;
    user-select: none; }
    body .navbar div nav a {
      padding: 10px;
      color: #fff;
      background-color: #000;
      font-weight: bold;
      cursor: pointer; }
      @media only screen and (max-width: 500px) {
        body .navbar div nav a {
          display: block;
          width: 130px;
          float: left; } }
      body .navbar div nav a.selected {
        color: #000;
        background-color: #fff; }
        body .navbar div nav a.selected:hover {
          color: #000; }
  body .window {
    width: auto; }
    body .window div .frame {
      background-color: #fff;
      width: 80%;
      height: auto;
      margin: 62px auto;
      flex: 0;
      border: 2px solid black;
      overflow: hidden; }
      @media only screen and (max-width: 600px) {
        body .window div .frame {
          width: 100%;
          margin: 25px auto; } }
      @media only screen and (max-width: 400px) {
        body .window div .frame {
          height: auto;
          overflow: scroll; } }
      body .window div .frame .caption {
        color: #000;
        border: 2px solid black;
        border-collapse: collapse;
        user-select: none;
        height: auto;
        min-height: 24px;
        border-top: none;
        border-left: none;
        border-right: none;
        text-overflow: ellipsis; }
        body .window div .frame .caption .arrow {
          cursor: pointer; }
          body .window div .frame .caption .arrow img {
            height: 23px;
            max-width: 100%;
            cursor: pointer; }
          body .window div .frame .caption .arrow .prev {
            transform: rotate(180deg); }
        body .window div .frame .caption div {
          border-right: 2px solid black;
          text-align: center; }
          body .window div .frame .caption div.last {
            border-right: none; }
          body .window div .frame .caption div.arrow {
            font-weight: bold; }
      body .window div .frame .content {
        color: #000;
        padding: 15px;
        border: none;
        font-size: 20px; }
        @media only screen and (max-width: 400px) {
          body .window div .frame .content {
            font-size: 16px;
            line-height: 1em; } }
        body .window div .frame .content .title {
          font-size: 32px;
          line-height: 1.2em; }
          @media only screen and (max-width: 400px) {
            body .window div .frame .content .title {
              font-size: 28px;
              line-height: 1em; } }
        body .window div .frame .content .subtitle {
          font-size: 28px;
          line-height: 1.2em; }
          @media only screen and (max-width: 400px) {
            body .window div .frame .content .subtitle {
              font-size: 24px;
              line-height: 1em; } }
      body .window div .frame .skills,
      body .window div .frame .projects,
      body .window div .frame .contact,
      body .window div .frame .credits,
      body .window div .frame .sitegram {
        display: none;
        line-height: 2em; }
        @media only screen and (max-width: 400px) {
          body .window div .frame .skills,
          body .window div .frame .projects,
          body .window div .frame .contact,
          body .window div .frame .credits,
          body .window div .frame .sitegram {
            font-size: 16px; } }
        body .window div .frame .skills a,
        body .window div .frame .projects a,
        body .window div .frame .contact a,
        body .window div .frame .credits a,
        body .window div .frame .sitegram a {
          color: #4EA0F6;
          text-decoration: underline;
          font-size: 20px;
          line-height: 2em;
          display: block;
          overflow-wrap: break-word;
          word-wrap: break-word; }
          @media only screen and (max-width: 400px) {
            body .window div .frame .skills a,
            body .window div .frame .projects a,
            body .window div .frame .contact a,
            body .window div .frame .credits a,
            body .window div .frame .sitegram a {
              font-size: 16px;
              line-height: 2em; } }
      body .window div .frame .projects {
        overflow: scroll;
        height: 100%; }
        body .window div .frame .projects .display img {
          float: left;
          display: block;
          width: auto;
          max-height: 148px;
          margin: 0 10px 10px 0; }
      body .window div .frame .credits {
        height: 100%;
        background-color: #000;
        color: #fff; }
        body .window div .frame .credits .col-12 {
          height: 100%; }
        body .window div .frame .credits .links {
          position: absolute;
          bottom: 0;
          padding-bottom: 20px; }
          @media only screen and (max-width: 400px) {
            body .window div .frame .credits .links {
              position: relative; } }
      body .window div .frame .sitegram .col-12 {
        text-align: center; }
        body .window div .frame .sitegram .col-12 img {
          width: auto;
          height: 350px; }
  body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    user-select: none;
    background-color: #f5f5f5;
    background-color: #4FFAE6;
    border-top: 2px solid black;
    height: 40px;
    overflow: hidden; }
    @media only screen and (max-width: 500px) {
      body footer {
        position: fixed; } }
    @media only screen and (max-height: 500px) {
      body footer {
        position: fixed; } }
    body footer .icon-floppy {
      width: 60px;
      padding-top: 2px;
      cursor: pointer; }
