body {
  //font-family: 'Courier New', Courier, monospace !important;
  //font-family: 'VT323', monospace;
  font-family: "Segoe UI", "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #bfbfbf !important;
  color: #fff;

  @media only screen and (max-width: 500px) {
    overflow: visible;
  }

  .handle {
    background-image: linear-gradient(
      to left,
      #82adff,
      #1a6fec,
      #1c30d2,
      #213fe2
    );
    font-weight: bold;
    height: 84px;
    padding-right: 8px;
    user-select: none;
    overflow: hidden;

    @media only screen and (max-width: 550px) {
      background-color: #000;
      height: auto;
      padding: 16px;
    }

    .caption {
      color: #fff;
      padding-top: 5px;
      background-color: black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .untitled {
        display: initial;
      }

      @media only screen and (max-width: 550px) {
        .untitled {
          display: none;
        }
      }
    }
  }

  .my-navbar {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #fff;
    background-color: #a5a5a5;
    user-select: none;

    @media only screen and (max-width: 550px) {
      height: 0;
      padding: 0;
      transition: 0.5s;

      &.open {
        overflow: visible;
        transition: 0.5s;
      }
    }

    ul {
      padding-inline: 0;
      margin-bottom: 0;
      li {
        list-style-type: none;
        a {
          display: block;
          padding: 7px 17px 6px 16px;
          color: #000;
          background-color: #c1c1c1;
          border-top: 1px solid #ffffff;
          border-left: 1px solid #ffffff;
          border-right: 1px solid #000;
          border-bottom: 1px solid #000;
          cursor: pointer;

          @media only screen and (max-width: 550px) {
            width: 100%;
            display: block;
          }

          &.selected {
            color: #000;
            background-color: #c1c1c1;
            border-top: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            border-right: 1px solid #ababab;
            border-bottom: 1px solid #ababab;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }

  .window {
    width: auto;

    .section-img {
      display: block;
      margin: auto;
      max-width: 90%;
    }

    .frame {
      .big-title {
        font-size: 28px;
        line-height: 1.2em;
        margin-bottom: 16px;
        font-weight: bold;
      }
    }

    .content {
      color: #000;
      padding: 15px;
      border: none;
      font-size: 20px;
      margin-top: 52px;

      @media only screen and (max-width: 992px) {
        margin-top: 0;
      }

      @media only screen and (max-width: 550px) {
        margin-top: 38px;
      }

      canvas {
        margin: auto;
      }

      .headline {
        display: block;
        margin-bottom: 30px;

        @media only screen and (max-width: 992px) {
          margin-bottom: 0;
        }

        img#me {
          max-width: 180px;
          height: 100%;
          margin-right: 50px;
          margin-bottom: 16px;

          @media only screen and (max-width: 992px) {
            display: none;
          }
        }
      }

      .title-box {
        display: flex;
        padding: 8px;
        margin-bottom: 10px;

        &.dashed {
          border: 2px dashed #000;
        }

        img {
          width: 32px;
          margin-right: 10px;
        }
      }

      .title {
        width: 100%;
        font-size: 22px;
        line-height: 1.2em;
        font-weight: bold;
        display: block;
        margin: 0;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 20px;
        line-height: 1.2em;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .paragraph {
        font-size: 18px;
        line-height: 1.3em;
        margin-bottom: 30px;

        &.list {
          padding-left: 30px;
          line-height: 1.5em;

          .activity {
           
            margin-bottom: 20px;
            .date {
              color: #333;
            }
          }
        }

        &.quote {
          border-left: 5px solid black;
          padding: 10px;
          background-color: rgba(130, 173, 255, .3);
          margin-left: 20px;

          @media only screen and (max-width: 550px) {
            border-left: 3px solid black;
            margin-left: 0;
          }
        }

        li {
          margin-bottom: 10px;

          @media only screen and (max-width: 550px) {
            margin-bottom: 20px;
          }
        }
      }

      .legend {
        width: 100%;
        font-size: 16px;
        line-height: 1.2em;
        margin: 15px auto 30px;
        color: #444;
        text-align: center;
      }

      ul.paragraph {
        @media only screen and (max-width: 550px) {
          padding-inline-start: 20px;
        }
      }

      a {
        color: #001cb3;
        text-decoration: underline;
      }

      .copyright {
        font-size: 16px;
        line-height: 1em;
        color: #333;
        display: flex;
        justify-content: flex-end;
      }

      .activity {
        display: flex;
        font-size: 18px;
        line-height: 1.3em;
        margin-bottom: 30px;
        img {
          width: 32px;
          height: 39px;
          margin: 0 10px 0 0;
          @media only screen and (max-width: 992px) {
            width: auto;
            height: 32px;
          }
        }
        .date {
          font-size: 16px;
          line-height: 1em;
          color: #333;
        }
      }
    }

    .contact-bar {
      display: flex;
      margin-bottom: 16px;

      a {
        text-decoration: none;
        display: block;
        margin-right: 10px;
        img {
          width: 32px;
          height: auto;
          margin-right: 5px;

          @media only screen and (max-width: 400px) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
